@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: url(imagens/petals-5100957_1920.jpg);
    
}
#container{
    display: flex;
    align-items: center;
    gap: 3.5rem;
}
#img img {
    width: 20rem;
    
}
#calculator{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    color: white;
    backdrop-filter: blur(10px);
    border-radius: 8px;
}

#form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
#title{
    font-size: 2.25rem;
    position: relative;
}
#title:after{
    position: absolute;
    content: '';
    background-color: rgb(22, 130, 163);
    width: 8rem;
    height: 3px;
    bottom: 0;
    left: 0;
    border-radius: 3px;
}
.input-box label{
    font-size: 1.1rem;
    color: white;
    font-weight: 500;
}
.input-field{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #6D6D6D;
    padding: 0.3rem;
    border-radius: 3px;
    margin-top: 3px;
}
.input-field span,
.input-field i{
    color: #88e1bd9c;
    font-size: 1.3rem;
    padding: 0.6rem 1rem;
}
.input-field input{
    background-color: transparent;
    border: none;
    width: 100%;
    font-size: 1.3rem;
    color: white;
    padding: 0 0.5rem;

}
.input-field input::-webkit-outer-spin-button, 
.input-field input::-webkit-inner-spin-button{
    appearance: none;

}
.input-field input:focus{
    outline: none;
}
#calculate {
    border: none;
    font-size:  1.25rem;
    font-weight: bold;
    background-color:#6D6D6D ;
    color: white;
    padding: 0.5rem 0;
    border-radius: 3px;
    cursor: pointer;
}
#calculate:hover{
    background-color:#464646 ;
    color: white;
}
#result{
    display: flex;
    gap: 2rem;
    align-items: center;
    border-top: 1px solid #ffffff34;
    padding: 0.75rem 0;
}
#moreInfo{
    text-align: center;
}
#moreInfo > a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: #4f816c76;
    padding: 6px;  
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px; 
}
.hidden {
    display: none;
}
.normal {
    color: #4f816c;
}
.attention{
    color: red;
}
@media screen and (max-width: 1024px) {
    #img{
        display: none;
    }
}

@media screen and (max-width: 500px) {
    #container{
    width: 100%;
    height: 100%;
    }
}
#calculator{
    width: 100%;
    height: 100%;
    border-radius: 0;
    justify-content: center;
    }